---
import { getLangFromUrl, useTranslations } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const _ = useTranslations(lang);
---

<nav id="main-nav" class="w-full font-semibold py-2 pr-4 flex flex-col sm:flex-row justify-center z-50 bg-[#b6e39d] text-gray-800 dark:bg-[#0F321E] dark:text-white transition-colors text-2xl sm:text-lg" aria-label="{_('Main menu')}">
    <button class="block sm:hidden w-full py-3" onclick="document.getElementById('main-menu-items').classList.toggle('hidden')"><i class="fa fa-bars" aria-hidden="true"></i> Menu</button>
    <ul id="main-menu-items" class="justify-center flex-wrap flex-row hidden text-center sm:text-left sm:flex sm:space-x-10 sm:py-2">
    <li>
        <a class="py-3 block sm:inline-block hover:opacity-75" href=`index.${lang}.html#discover`>{_('nav.discover')}</a>
    </li>
    <li>
        <a class="py-3 block sm:inline-block hover:opacity-75" href=`index.${lang}.html#apps`>{_('nav.applications')}</a>
    </li>
    <li>
        <a class="py-3 block sm:inline-block hover:opacity-75" href=`index.${lang}.html#start`>{_('nav.install')}</a>
    </li>
    <li>
        <a class="py-3 block sm:inline-block hover:opacity-75" href="https://doc.yunohost.org">{_('nav.documentation')}<span class="opacity-50">↗</span></a>
    </li>
    <li>
        <a class="py-3 block sm:inline-block hover:opacity-75" href=`index.${lang}.html#news`>{_('nav.latest_news')}</a>
    </li>
    <li>
        <a class="py-3 block sm:inline-block hover:opacity-75" href=`index.${lang}.html#community`>{_('nav.community')}</a>
    </li>
    </ul>
</nav>
